*{
    margin:0;
    padding:0;
}
body{
    background-color:#F6DDCC;
}

/*NAVEGADOR*/
.navbar{
    background-color: black;
    margin-top:0;
    align-items:right;
    padding:1% 7%;
  }
  .navbar .navbar-brand{
    color: #BFC9CA;
    font-family:serif;
    font-size: 25px;
  }
  
  .navbar .navbar-brand:hover{
    color:white;
  }
  .navbar .collapse .nav-item:hover{
    background-color:rgb(45, 40, 40);
  }

  .navbar .collapse .nav-link{
    color: blue;
    font-size: 20px;
    font-family: times;
    border-bottom: 1px solid white;
    margin-left: 5px;
  }
  .navbar .collapse .nav-link:hover{
    color:#5DADE2;
  }
/*================*/


.container{
    width:100%;
    max-width: 1000px;
}
.container .post{
    margin:30px auto;
    background-color:white;
    padding:3%;
}
.container .post .imagen1{
    width: 100%;
    overflow: hidden;
    text-align:center;
    padding: 2%;
}
@supports(object-fit: cover){
    .container .post .imagen1 .my{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
.container .post .italica{
    text-align:center;
}

/*FOOTER*/
.footer{
  background-color:black;
  color:white;
  font-family:times;
  padding: 20px 0px;
}
.footer .h4footer, .pfooter{
  margin:0;
}
