*{
    margin:0;
    padding:0;
  }

  .container-portada{
    background-image: url(../img/navegador.jpg);
    text-align: center;
    width: 100%;
    background-size:150%;
    animation: movimiento 20s infinite linear alternate;
  }
  .container-portada .detalles h1{
    color: #10FFF4;
    font-family: Times;
    font-size: 50px;
    font-weight: bold;
  }
  .container-portada .detalles p{
    color: #b0aebd;
    font-size: 20px;
    font-weight: bold;
  }
  @keyframes movimiento{
    from{
      background-position: bottom left;
    }
    to{
      background-position: top right;
    }
  }

  /*navegador p mascota*/ 
  .navbar{
    background-color: black;
    margin-top:0;
    align-items:right;
    padding:1% 7%;
  }
  .navbar .navbar-brand{
    color: #BFC9CA;
    font-family:serif;
    font-size: 25px;
  }
  
  .navbar .navbar-brand:hover{
    color:white;
  }
  .navbar .collapse .nav-item:hover{
    background-color:rgb(45, 40, 40);
  }

  .navbar .collapse .nav-link{
    color: blue;
    font-size: 20px;
    font-family: times;
    border-bottom: 1px solid white;
    margin-left: 5px;
  }
  .navbar .collapse .nav-link:hover{
    color:#5DADE2;
  }

  /*CUERPO DE LA PAGINA PRINCIPAL*/

  .container .row .parrafos{
    padding-bottom: 10px;
    border-bottom: 3px solid black
  }

  .container .row .aside .parrafo-aside{
    padding-bottom: 10px;
    border-bottom: 3px solid black;
  }
  .container .row .aside .aside-group {
    border-left: 4px solid 	#008080;
    padding-left: 10px;
  }

  /*ASIDE*/

  .aside .aside-group h2{
    border-bottom:2px solid black;
  }
  .aside .aside-group h3{
    padding-top: 4px;
  }
  .jumbo{
    margin-top: 20px;
  }

  /*FOOTER*/
  .footer{
    background-color:black;
    color:white;
    font-family:times;
    margin:0;
  }
  .footer h4, p{
    margin:0px;
  }